# Ignorer les fichiers de configuration de l'IDE dans tous les sous-dossiers
**/.settings/

# Ignorer les dossiers bin et target dans tous les sous-projets
**/bin/
**/target/

# Ignorer les fichiers spécifiques à l'IDE Eclipse
**/.classpath
**/.project
